@charset "utf-8";
/*流程框���*/
#LogicArea {
	margin: 0 auto;
}
#LogicArea img {
	font-size: 0;
}
.IWTContent {
	float: left;
	width: 634px;
}
.IWTText {
	color: #027db2;
	height: 18px !important;
	padding: 14px 0 0 1em !important;
	height: 16px;
	padding: 16px 0 0 1em;
	background: url(../images/IWTContent.gif) no-repeat left top;
}
.IWTextBorder {
	height: 9px;
	width: 634px;
	font-size: 0;
	background: url(../images/IWTDirection.gif) no-repeat left top;
}
.ButtonGroup .Button {
	float: left;
	width: 87px;
	height: 47px;
	cursor: pointer;
	overflow: hidden;
}
	.JianTou {
		float: left;
	}
	.Button1 img {
		margin-left: 0px;
	}
	.Button2 img {
		margin-left: -87px;
	}
	.Button3 img {
		margin-left: -174px;
	}
	.Button4 img {
		margin-left: -261px;
	}
	.Button5 img {
		margin-left: -348px;
	}
	.Button6 img {
		margin-left: -435px;
	}