body{
	font-size:12px;
	font-family:"����"��Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 auto;
	color:#666;	
}
ul,li,img,p,dl,dt{margin:0px;padding:0px;}
img{border:0px;}

/* common */
.clear{clear:both; font-size:0px;}
.font14{font-size:14px;}
.float_right{float:right;}
.left{text-align:left;}
.right{text-align:right;}
.paddingS{padding:10px 5px 0px 0px;}
.paddingS02{padding:6px 0px 0px 0px;}
.indent{text-indent:18px;}
.grayBg{background:#f7f7f7;}
.img_border{border:1px solid #ccc; float:left;}
.inputW01{width:60px;}
.blank12{height:12px; font-size:1px; overflow:hidden; clear:both;}

/* link */
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{color:#f60; text-decoration:underline;}
.cOrange,a.cOrange:link,a.cOrange:visited{color:#ea7419; text-decoration:none;}
a.cOrange:hover{color:#ea7419; text-decoration:underline;}
.cYellow,a.cYellow:link,a.cYellow:visited{color:#fffdc3; text-decoration:none;}
a.cYellow:hover{color:#fffdc3; text-decoration:underline;}
.cGray,a.cGray:link,a.cGray:visited{color:#999; text-decoration:none;}
a.cGray:hover{color:#999; text-decoration:underline;}
.cGray02,a.cGray02:link,a.cGray02:visited{color:#ccc; text-decoration:none;}
a.cGray02:hover{color:#ccc; text-decoration:underline;}
.cRed,a.cRed:link,a.cRed:visited{color:#ee5e12; text-decoration:none;}
a.cRed:hover{color:#ee5e12; text-decoration:underline;}
.cRed02,a.cRed02:link,a.cRed02:visited{color:#814112; text-decoration:none;}
a.cRed02:hover{color:#814112; text-decoration:underline;}
.cRed03,a.cRed03:link,a.cRed03:visited{color:#e20000; text-decoration:none;}
a.cRed03:hover{color:#e20000; text-decoration:underline;}
.cBlue,a.cBlue:link,a.cBlue:visited{color:#014baf; text-decoration:none;}
a.cBlue:hover{color:#014baf; text-decoration:underline;}
.cWhite,a.cWhite:link,a.cWhite:visited{color:white; text-decoration:none;}
a.cWhite:hover{color:white; text-decoration:underline;}


/* box */
.box{width:960px; margin:0 auto;}

.new_menu{height:23px; line-height:23px;}
.new_menu li{float:left; list-style:none;margin:0px 5px;}

/* head */
.head{margin:6px 0px 0px;padding:0px 16px 0px; height:65px;}
.logo{width:178px;float:left; background:url(../images/logo_line.jpg) no-repeat right; height:41px;padding:5px 0px;}
.web_des{color:#2f2c2c; float:left; width:215px; text-align:left; padding:10px 0px 0px 15px;}
.web_des p{padding:2px 0px;}
.menu{font-size:14px;}
.menu li{list-style:none; float:left; margin:0px 15px;}
.menu a {blr:expression(this.onFocus=this.blur());} 
.menu a {outline:0;display:block;}


/* menu */
.nav{}
.navL{}
.navR{float:right; width:210px; border-top:1px solid #ef7b22; border-left:1px solid #ef7b22; border-right:1px solid #ef7b22; background:url(../images/login_infoBg.jpg) repeat-x; height:19px; margin-right:13px; color:white; padding:9px 3px 0px; font-size:12px; display:inline;}

.headMenu {float:left;position:relative;Z-INDEX: 2; BACKGROUND: url(../images/menuBg.gif) repeat-x 50% bottom; LEFT: 12px; WIDTH: 690px; HEIGHT: 29px}
.headMenuLine{float:left; position:absolute;BACKGROUND-POSITION: left 1px; Z-INDEX: 4; BACKGROUND-IMAGE: url(../images/menuSide.gif); OVERFLOW: hidden; WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px;}
.menuList {BACKGROUND-POSITION: right 1px; Z-INDEX: 3; BACKGROUND-IMAGE: url(../images/menuSide.gif); OVERFLOW: hidden; WIDTH: 690px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; }
.menuList LI {BACKGROUND: url(../images/menuSplit.gif) no-repeat left bottom; FLOAT: left; HEIGHT: 27px; list-style:none; padding-top:2px;}
.menuList LI SPAN {PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px}
.menuList LI a:visited {TEXT-DECORATION: none}
.menuList LI a:hover {COLOR: #ff5500; TEXT-DECORATION: none}
.menuList .menuHere {FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menuHere.gif) no-repeat left bottom;}
.menuList .menuHere a {DISPLAY: block; BACKGROUND: url(../images/menuHereSide.gif) no-repeat right bottom; FLOAT: left; COLOR: #fff; HEIGHT: 29px;margin-top:-2px;}
.menuList .menuHere a:hover {COLOR: #fff}

.nav_bottom{ background:url(../images/head_lineBg.jpg) repeat-x; height:7px; font-size:1px;}
.nav_bottomL{float:left; background:url(../images/head_lineLeft.jpg) no-repeat; width:12px; height:7px;}
.nav_bottomR{float:right; background:url(../images/head_lineRight.jpg) no-repeat; width:14px; height:7px;}

/* content */
.content{ background:url(../images/contentTopBg.jpg) no-repeat top center; width:960px; min-height:48px;}

/* ad */
.info_img{margin:10px auto 0px;}

/* search */
.nav02_content{background:url(../images/nav02_bg.jpg) no-repeat top; width:960px; min-height:36px;padding:0px 0px 0px 0px;}
.nav02_content ul{ width:auto; height:auto}
.nav02_content ul li{width:auto; height:auto; list-style:none;}
.nav02_content ul li a{text-decoration:none;}
.nav02_content ul li a:hover{ color:#FFFFFF}
.nav02_content .active,.nav02_content li.active{
background:url(../images/nav02_on.jpg) no-repeat;}
.tap{height:28px; width:405px;float:left;margin-left:75px; display:inline;margin-top:8px;}
.tap a{ background:url(../images/nav02_out.jpg); width:55px; height:28px; display:block;color: #343434; font: bold 12px/24px "����" ; text-decoration:none; float:left; text-align:center; margin-right:2px;}
.tap a:hover{color:#FFFFFF}
.active{position:relative;float:left; z-index:2;margin-bottom:-1px;}
.active a {
background:url(../images/nav02_on.jpg)!important;height:28px; color:white;
}
.list1{ background:url(../images/search_bg.jpg) no-repeat; width:920px; height:42px; text-align:left;padding:10px 20px 0px;}
.list1 button{padding:0px 6px; font-size:12px;}

/* city list */
.city_list{ background:url(../images/city_list.jpg) no-repeat; width:910px; height:90px; padding:7px 25px; text-align:left;}
.city_list p{padding:5px 0px;}
.city_list a{margin-right:5px;}
.city_listOn{background:#a7b829; padding:2px 3px 1px; color:white;}

/* col04 */
.col04{}
.trade_title{background:url(../images/trade_bg.jpg) no-repeat; width:960px; height:36px;}
.nav03_content{width:960px;padding:0px 0px 0px 0px; position:relative;}
.nav03_content ul{ width:auto; height:auto}
.nav03_content ul li{width:auto; height:auto; list-style:none;}
.nav03_content ul li a{text-decoration:none;}
.nav03_content ul li a:hover{ color:#830505}
.nav03_content .active02,.nav03_content li.active03{
background:url(../images/trade_navOn.jpg) no-repeat;}
.tap02{ height:28px; width:455px; float:left;margin-left:275px; display:inline;margin-top:4px;}
.tap02 a{ background:url(../images/trade_navOut.jpg); width:72px; height:32px; display:inline-block;color: #6e6e6e; font: bold 14px/24px "����" ; text-decoration:none; float:left; text-align:center; margin-right:8px;}
.tap02 a:hover{color:#830505}
.active02{position:relative;float:left; z-index:2;margin-bottom:-1px;}
.active02 a {
background:url(../images/trade_navOn.jpg)!important;height:32px; color:#830505;
}
.tap02_more{float:right; right:0; margin:8px 100px 0px 0px; position:absolute;}
.tap02_title{float:left; left:0; position:absolute;margin:7px 0px 0px 60px;}
.list02{position:relative;border-left:1px solid #dcd6ca; border-right:1px solid #dcd6ca; border-bottom:1px solid #dcd6ca; min-height:256px;padding-bottom:10px;}
.trade_table{width:910px; margin:0 auto;}
.trade_table td{table-layout:fixed;word-wrap:break-word;word-break:break-all;}
.trade_table thead td{border-bottom:1px dashed #f8bb18; background:#fffdef;padding:9px 8px 6px;}
.trade_table tbody td{border-bottom:1px dashed #ccc;padding:5px 8px 3px;}
.trade_table_bg{background:#fdfade;}
.trade_table_more{position:absolute; float:right; right:0; bottom:0; margin:10px 20px;}
.trade_tableW01{width:250px;}
.trade_tableW02{width:65px;}
.trade_tableW03{width:75px;}
.trade_tableW04{width:100px;}
.trade_tableW05{width:60px;}
.trade_tableW06{width:110px;}
.trade_tableW07{width:85px;}

/* col05 */
.col05{}
.col05 img{border:1px solid #987037;}
.col05 p{padding:1px 0px;}
#scroll_div {OVERFLOW: hidden; WIDTH: 942px; HEIGHT: 133px}

/* fengye */
.wangpu_fenye{padding:10px 0px;}

DIV.quotes {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.quotes A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #aaa; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
DIV.quotes A:hover {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a0a0a0 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a0a0a0 1px solid
}
DIV.quotes A:active {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a0a0a0 1px solid; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #a0a0a0 1px solid
}
DIV.quotes SPAN.current {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #e0e0e0 1px solid; COLOR: #aaa; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #f0f0f0
}
DIV.quotes SPAN.disabled {
	BORDER-RIGHT: #f3f3f3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #f3f3f3 1px solid; COLOR: #ccc; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #f3f3f3 1px solid
}



/* guide */
.guide{text-align:left;padding:10px 0px;}

/* content */
.freeTrade_contnet{}
.freeTrade_contnetL{float:left; width:668px; border:1px solid #ea7419; background:url(../images/freeTrade_titleBg.jpg) repeat-x top; min-height:37px;}
.freeTrade_contnetR{float:right; width:280px;}

.freeTrade_contnetL_show{margin:8px 10px;}
.freeTrade_contnetL_title01{padding:0px 10px;text-align:left; line-height:18px;}
.freeTrade_contnetL_title02{ background:url(../images/freeTrade_titleBg02.jpg) repeat-x; text-align:left; height:22px; padding:8px 10px 0px;}
.freeTrade_table{border-left:1px solid #dadada; border-top:1px solid #dadada;margin-top:5px;}
.freeTrade_table td{padding:8px 5px 5px;border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
.freeTrade_table p{line-height:250%;text-align:center;margin-top:60px;}
.freeTrade_tableW01{width:80px;}
.freeTrade_tableW02{width:60px;}
.freeTrade_tableW03{width:140px;}
.freeTrade_tableW04{width:207px;}
.freeTrade_table02{border-left:1px solid #dadada; border-top:1px solid #dadada;margin-top:5px;}
.freeTrade_table02 td{word-break:keep-all;padding:8px 10px 5px;border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
.freeTrade_tableW01a{width:90px;}
.freeTrade_tableW02a{width:100px;}
.freeTrade_tableW03a{width:150px;}
.freeTrade_tableW04a{width:217px;}

.freeTrade_contnetL_show02{}
.freeTrade_contnetL_title03{position:relative; background:url(../images/freeTrade_titleBg03.jpg) repeat-x; height:26px;}
.freeTrade_contnetL_title03_title{position:absolute; float:left; z-index:2; background:url(../images/freeTrade_title03.jpg) no-repeat; width:76px; height:15px; left:20px; top:5px;}
.freeTrade_contnetL_title03_more{position:absolute; float:right; z-index:2; right:10px; top:8px; width:90px;}
.freeTrade_contnetL_title03_nav{position:absolute; float:left; z-index:3; background:url(../images/freeTrade_navBg03.jpg) no-repeat; width:444px; height:86px; left:110px; top:6px;padding:5px 0px 0px 7px!important;padding:5px 0px 0px 3px;}
.freeTrade_contnetL_title03_nav li{position:relative;color:#bdbdbd; float:left; list-style:none; margin:0px 4px;}
.NavOn,.NavOn a:link,.NavOn a:visited{color:#d36c00; font-weight:bold;}
.NavOn a:hover{color:#d36c00; font-weight:bold;}
.NavOn span{position:absolute; float:left; background:url(../images/freeTrade_navJiantou.jpg) no-repeat; z-index:99; width:14px; height:7px; top:17px; left:38px;}

.freeTrade_contnetL_show02_con{padding:15px 9px 10px 9px;border-bottom:1px solid #ea7419; overflow:auto; zoom:1;}
.freeTrade_contnetL_show02_conL{width:355px; float:left;}
.freeTrade_contnetL_show02_conR{width:284px; float:right; background:#fdf2c6;}
.freeTrade_contnetL_show02_conR_content{height:254px!important;*height:270px!important;height:270px;border:1px solid #ea7419; background:white; margin:7px;padding:10px; text-align:left;}
.freeTrade_contnetL_show02_conR_content label{float:left; width:90px; text-align:right;padding-top:5px;}
.freeTrade_contnetL_show02_conR_content input{width:120px; }
.freeTrade_contnetL_show02_conR_content p{padding:5px 0px;}
.freeTrade_contnetL_show02_conR_content1 {height:444px!important;*height:460px!important;height:460px;border:1px solid #ea7419; background:white; margin:7px;padding:10px; text-align:left;}
.freeTrade_contnetL_show02_conR_content1 label{float:left; width:90px; text-align:right;padding-top:5px;}
.freeTrade_contnetL_show02_conR_content1 input{width:120px; }
.freeTrade_contnetL_show02_conR_content1 p{padding:5px 0px;}
.freeTrade_contnetL_show02_conR_content2{height:334px!important;*height:350px!important;height:350px;border:1px solid #ea7419; background:white; margin:7px;padding:10px; text-align:left;}
.freeTrade_contnetL_show02_conR_content2 label{float:left; width:100px; text-align:right;padding-top:5px;}
.freeTrade_contnetL_show02_conR_content2 input{width:120px; }
.freeTrade_contnetL_show02_conR_content2 p{padding:5px 0px;}
.freeTrade_table03{border-left:1px solid #dadada; border-top:1px solid #dadada;}
.freeTrade_table03 td{padding:8px 20px 5px;border-right:1px solid #dadada; border-bottom:1px solid #dadada;}
.freeTrade_table03 p{line-height:100%;text-align:center;text-align:left;margin:2px 0px;}
.freeTrade_button{ background:url(../images/freeTrade_button02.jpg) no-repeat; width:70px; height:24px; border:0px; color:#ff5400;}
.freeTrade_button02{ background:url(../images/freeTrade_button02.jpg) no-repeat; width:70px; height:24px; border:0px; color:#a31515;}
.freeTrade_button03{ background:url(../images/freeTrade_button03.jpg) no-repeat; width:53px; height:19px; border:0px;}
.freeTrade_button04{ background:url(../images/freeTrade_button04.jpg) no-repeat; width:68px; height:19px; border:0px; padding:0px;}

.freeTrade_contnetL_show03_con{ background:url(../images/freeTrade_titleBg04.jpg) repeat-x top; min-height:41px;padding:5px 18px; text-align:left;}
.freeTrade_contnetL_show03_con button,.freeTrade_contnetL_show03_con input{ vertical-align:middle;}
.freeTrade_area{padding:5px; font-size:12px; width:618px; height:130px; background:url(../images/freeTrade_inputLogo.jpg) no-repeat bottom right;}
.login_input{width:73px; height:12px;}
.freeTrade_contnetL_show03_con p{padding:6px 0px;}

/* scroll */
.newLi_width{width:8px; font-size:1px;}
.new_picBorder{border:1px solid #e8873d; display:block;}

#thumbs {WIDTH: 280px; LIST-STYLE-TYPE: none; }
* HTML #thumbs {HEIGHT: 100%}
#thumbs LI {DISPLAY: inline; FLOAT: left; HEIGHT: 41px}
#thumbs UL {margin:6px 0px;}
#thumbs LI.last_img {MARGIN-RIGHT: 4px}
#thumbs LI.first {MARGIN: 5px 10px 0pt 65px; WIDTH: 20px; CURSOR: pointer; HEIGHT: 13px}
#thumbs LI.last {MARGIN: 5px 12px 0pt 8px; WIDTH: 20px; CURSOR: pointer; HEIGHT: 13px}
#thumbs LI A {BORDER: #ccc 1px solid; padding:1px;DISPLAY: block; FONT-SIZE: 0px; WIDTH: 60px;}
#thumbs LI A:hover {BORDER-RIGHT: #e8873d 1px solid; BORDER-TOP: #e8873d 1px solid; BORDER-LEFT: #e8873d 1px solid; BORDER-BOTTOM: #e8873d 1px solid}
#thumbs LI A.current {BORDER: #e8873d 1px solid;}
#thumbs LI.first IMG {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
#thumbs LI.last IMG {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
#topstory {MARGIN-TOP: 0px; MARGIN-left: 0px; BACKGROUND: #fff; FLOAT: left; WIDTH: 280px; HEIGHT: 268px;}
#highlight {FLOAT: left; WIDTH: 280px;}
#featured {OVERFLOW: hidden; WIDTH: 280px; POSITION: relative; HEIGHT: 211px}
#featured img{border:1px solid #e8873d;}
#featured .word {PADDING-RIGHT: 5px; PADDING-LEFT: 0px; Z-INDEX: 10; LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 280px; COLOR: #000; BOTTOM: 0px; PADDING-TOP: 5px; POSITION: absolute; HEIGHT: 28px}
#featured .word H3 {FONT-SIZE: 18px}
#featured .ui-els-hide {DISPLAY: none}

/* count */
.freeTrade_count{background:url(../images/freeTrade_titleBg05.jpg) repeat-x; height:28px; line-height:22px; text-align:left; padding:8px 4px;}

/* invite */
.freeTrade_invite{}
.freeTrade_inviteBg{ background:url(../images/freeTrade_introBf.jpg) no-repeat; width:280px; height:36px;}

.freeTrade_map{border:1px solid #ccc;}
.freeTrade_map_show{border-bottom:1px solid #ccc;}
.freeTrade_map_select{padding:10px 15px; text-align:left;}

/* compare */
.freeTrade_compare{width:280px;}
.freeTrade_compare ul{ width:auto; height:auto}
.freeTrade_compare ul li{width:auto; height:auto; list-style:none;}
.freeTrade_compare ul li a{text-decoration:none;}
.freeTrade_compare ul li a:hover{ color:#FFFFFF}
.freeTrade_compare .active,.freeTrade_compare li.active{
background:url(../images/freeTrade_navOn.gif) no-repeat; font-weight:bold;}
.tap_com{height:31px; width:280px;float:left;display:inline;margin-bottom:-8px;margin-top:10px;overflow:hidden;}
.tap_com a{ background:url(../images/freeTrade_navOut.gif); width:136px; height:31px; display:inline-block;color: #343434; font: normal 14px/24px "����" ; text-decoration:none; float:left; text-align:center; }
.tap_com a:hover{color:#FFFFFF; text-decoration:none;}
.active_com{position:relative;float:left; z-index:2;margin-bottom:-1px;}
.active_com a {background:url(../images/freeTrade_navOn.gif)!important;height:31px; color:white;font-weight:bold;}
.list_com{width:238px;text-align:left;padding:10px 20px 10px; border:1px solid #ccc; overflow:auto; zoom:1;}
.list_com p{padding:5px 0px;}

/* ad */
.freeTrade_pic01{}


/* same compare */
.freeTrade_Sc{border:1px solid #ccc; padding:6px; text-align:left; overflow:auto; zoom:1;}
.freeTrade_Sc_left{float:left; width:130px;}
.freeTrade_Sc_right{float:right; width:130px;}
.freeTrade_Sc_title{ background:url(../images/freeTrade_listTitle.jpg) no-repeat; width:130px; height:20px; line-height:18px; text-align:center; color:white; padding-bottom:5px;}
.freeTrade_Sc_bg{background:#f7f7f7;}
.freeTrade_Sc p{padding:3px 4px;margin:5px 0px;}



/* foot */
.foot{}
.foot a{margin:0px 6px;}
.bottom{ background:url(../images/bottom_bg.jpg) repeat-x; height:9px; font-size:1px;margin:8px 0px;}
.bottom_left{float:left; background:url(../images/bottom_left.jpg) no-repeat; width:12px; height:9px;}
.bottom_right{float:right; background:url(../images/bottom_right.jpg) no-repeat; width:13px; height:9px;}
.foot p{padding:5px 0px;}

/* pagination*/

#Pagination{
 margin-left:50%; 　 
 }

.pagination {
            font-size: 80%;            
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

#Searchresult{
 margin-left:50%; 
　　left: -width/2;
}

.Stitle{
	color:orange;
	font-weight:bold;
	font-size:15px;
	
	}






