body{
	font-size:12px;
	font-family:"宋体"，Arial, Helvetica, sans-serif;
	text-align:center;
	margin:0 auto;
	color:#666;
}
ul,li,img,p,dl,dt{margin:0px;padding:0px;}
img{border:0px;}

/* common */
.clear{clear:both; font-size:0px;}
.font14{font-size:14px;}
.float_right{float:right;}
.left{text-align:left;}
.paddingS{padding:10px 5px 0px 0px;}
.paddingS02{padding:6px 0px 0px 0px;}
.indent{text-indent:18px;}
.blank12{height:12px; font-size:1px; overflow:hidden; clear:both;}

/* link */
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{color:#f60; text-decoration:underline;}
.cOrange,a.cOrange:link,a.cOrange:visited{color:#ea7419; text-decoration:none;}
a.cOrange:hover{color:#ea7419; text-decoration:underline;}
.cYellow,a.cYellow:link,a.cYellow:visited{color:#fffdc3; text-decoration:none;}
a.cYellow:hover{color:#fffdc3; text-decoration:underline;}
.cGray,a.cGray:link,a.cGray:visited{color:#999; text-decoration:none;}
a.cGray:hover{color:#999; text-decoration:underline;}
.cGray02,a.cGray02:link,a.cGray02:visited{color:#ccc; text-decoration:none;}
a.cGray02:hover{color:#ccc; text-decoration:underline;}
.cRed,a.cRed:link,a.cRed:visited{color:#ee5e12; text-decoration:none;}
a.cRed:hover{color:#ee5e12; text-decoration:underline;}

.choose_filter,a.choose_filter:link,a.choose_filter,a.choose_filter:visited{color: #ee5e12;}
a.choose_filter:hover{background-color: #ee5e12;color: white;}

.selected_filter,a.selected_filter:link,a.selected_filter,a.selected_filter:visited{background-color: #ee5e12;color: white;}
a.selected_filter:hover{background-color: #ee5e12;color: white;}

.cRed02,a.cRed02:link,a.cRed02:visited{color:#814112; text-decoration:none;}
a.cRed02:hover{color:#814112; text-decoration:underline;}
.cBlue,a.cBlue:link,a.cBlue:visited{color:#014baf; text-decoration:none;}
a.cBlue:hover{color:#014baf; text-decoration:underline;}
.cWhite,a.cWhite:link,a.cWhite:visited{color:white; text-decoration:none;}
a.cWhite:hover{color:white; text-decoration:underline;}


/* box */
.box{width:960px; margin:0 auto;}

/* head */
.head{margin:6px 0px 0px;padding:0px 16px 0px; height:65px;}
.logo{width:178px;float:left; background:url(../images/logo_line.jpg) no-repeat right; height:41px;padding:5px 0px;}
.web_des{color:#2f2c2c; float:left; width:215px; text-align:left; padding:10px 0px 0px 15px;}
.web_des p{padding:2px 0px;}
.menu{font-size:14px;}
.menu li{list-style:none; float:left; margin:0px 15px;}
.menu a {blr:expression(this.onFocus=this.blur());} 
.menu a {outline:0;display:block;}

/* menu */
.nav{}
.navL{}
.navR{float:right; width:210px; border-top:1px solid #ef7b22; border-left:1px solid #ef7b22; border-right:1px solid #ef7b22; background:url(../images/login_infoBg.jpg) repeat-x; height:19px; margin-right:13px; color:white; padding:9px 3px 0px; font-size:12px; display:inline;}

.headMenu {float:left;position:relative;Z-INDEX: 2; BACKGROUND: url(../images/menuBg.gif) repeat-x 50% bottom; LEFT: 12px; WIDTH: 690px; HEIGHT: 29px}
.headMenuLine{float:left; position:absolute;BACKGROUND-POSITION: left 1px; Z-INDEX: 4; BACKGROUND-IMAGE: url(../images/menuSide.gif); OVERFLOW: hidden; WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px;}
.menuList {BACKGROUND-POSITION: right 1px; Z-INDEX: 3; BACKGROUND-IMAGE: url(../images/menuSide.gif); OVERFLOW: hidden; WIDTH: 690px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; }
.menuList LI {BACKGROUND: url(../images/menuSplit.gif) no-repeat left bottom; FLOAT: left; HEIGHT: 27px; list-style:none; padding-top:2px;}
.menuList LI SPAN {PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px}
.menuList LI a:visited {TEXT-DECORATION: none}
.menuList LI a:hover {COLOR: #ff5500; TEXT-DECORATION: none}
.menuList .menuHere {FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/menuHere.gif) no-repeat left bottom;}
.menuList .menuHere a {DISPLAY: block; BACKGROUND: url(../images/menuHereSide.gif) no-repeat right bottom; FLOAT: left; COLOR: #fff; HEIGHT: 29px;margin-top:-2px;}
.menuList .menuHere a:hover {COLOR: #fff}

.nav_bottom{ background:url(../images/head_lineBg.jpg) repeat-x; height:7px; font-size:1px;}
.nav_bottomL{float:left; background:url(../images/head_lineLeft.jpg) no-repeat; width:12px; height:7px;}
.nav_bottomR{float:right; background:url(../images/head_lineRight.jpg) no-repeat; width:14px; height:7px;}


/* content */
.content{ background:url(../images/contentTopBg.jpg) no-repeat top center; width:960px; min-height:48px;}

/* col01 */
.col01{width:942px; margin:0px auto 0px; padding-top:10px;}
.BuySell_left{float:left; background:url(../images/BuySell_bg.jpg) no-repeat; width:712px; height:117px;}
.BuySell_right{float:right; background:url(../images/BuySell_bg02.jpg) no-repeat; width:222px; height:117px; text-align:center;}
.BuySell_right p{padding:1px 0px;}

.nav_content{margin-left:10px; text-align:left; }
.nav_content_list li{float:left;list-style:none; margin:0px 8px;display:inline;}
.qq{float:right;font-size:14px;padding:15px 20px 0px 0px;}
.nav_content_show{margin:3px 10px;}
.nav_content_show li{float:left; list-style:none;margin-right:7px;}
.BuySell_jiantou{ background:url(../images/BuySell_jiantou.jpg) no-repeat; width:13px; height:31px;}
.nav_content_input01{ background:url(../images/BuySell_input01.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}
.nav_content_input02{ background:url(../images/BuySell_input02.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}
.nav_content_input03{ background:url(../images/BuySell_input03.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}
.nav_content_input04{ background:url(../images/BuySell_input04.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}
.nav_content_input05{ background:url(../images/BuySell_input05.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}
.nav_content_input06{ background:url(../images/BuySell_input06.jpg) no-repeat; width:674px; height:25px; margin-bottom:3px;padding:6px 0px 0px 10px;color:#ea7419;}

/* col02 */
#part3{ float:left; width:678px; overflow:hidden;}
#part3 .con .center{width:678px;float:left;}
#part3 .con .le{width:292px;height:282px;float:left;padding:5px 0 0 0px;border-top:#ef7b22 1px solid;border-left:#ef7b22 1px solid;border-bottom:#ef7b22 1px solid; position:relative;}
#part3 .con .le .le01{text-align:center;}
#part3 .con .le .le01 img{padding:3px; border:1px solid #ccc;}
#part3 .con .le .le02{text-align:left;padding:2px 10px; line-height:150%!important;line-height:140%;}
#part3 .con .le .le02 p{padding:3px 0px;}
#part3 .con .le .le03{float:right; position:absolute; bottom:0px; right:0; margin:5px 10px;}
#part3 .con .cen{width:175px;height:289px;float:left;background:#F5F5F5 url(../images/pic_18.gif) left top repeat;}
#part3 .con .cen img{border:1px solid #ccc;}
#part3 .con .cen ul{float:left;}
#part3 .con .cen li{width:165px;height:65px;float:left;padding:7px 0 0 8px;border-left:#ef7b22 1px solid;border-right:#ef7b22 1px solid; list-style:none;}
#part3 .con .cen li a{color:#666666;}
#part3 .con .cen li p{float:left;width:72px;margin-right:5px;height:57px;border:#6E6E6E 1px solid;}
#part3 .con .cen li h1{float:left;width:80px;padding:8px 0 4px 0; font-size:14px; line-height:0px!important;*line-height:20px!important;line-height:20px;}
#part3 .con .cen li h1 a{font-size:14px;font-weight:bold;}
#part3 .con .cen li span{float:left;width:80px;line-height:22px;}
#part3 .con .cen li span a{ text-decoration:none;}
#part3 .con .cen .focuson{border:0px;padding:7px 1px 0 9px; height:66px;background:url(../images/pic_19.gif) left bottom repeat-x;}
#part3 .con .cen .focuson_top{margin-top:0px; }
#part3 .con .cen .focuson_bo{margin-bottom:0px; margin-top:0px; }
#part3 .con .cen .focuson a{color:#ee5e12;}
#part3 .con .rig{width:191px !important;width:190px;height:275px;padding:6px 5px;float:left;border-top:#ef7b22 1px solid;border-bottom:#ef7b22 1px solid;border-right:#ef7b22 1px solid;}
#part3 .con .rig .rig1_title{ background:url(../images/tuijian.jpg) no-repeat center; width:154px; height:31px; text-align:left; line-height:31px; padding:0px 15px; color:white;}
#part3 .con .rig .rig1_title .more{float:right;  font-family:"Arial Black", Gadget, sans-serif; font-size:9px; margin-top:-2px;}
#part3 .con .rig .rig1_title .more a{color:white;}
#part3 .con .rig1{text-align:left; margin:0px 5px;}

#part3 .con .rig02{}
#part3 .con .rig02 ul{}
#part3 .con .rig02 li{list-style:none;border-bottom:1px solid #f6cfb8; width:178px;display:block;padding:5px 0px; overflow:hidden;}
#part3 .con .rig02 p{padding:2px 5px;}

.info_pic{text-align:left;}

.info{width:280px; float:right; overflow:hidden;}
.info_title{ background:url(../images/info_list.jpg) no-repeat; width:260px; height:31px; text-align:left; line-height:26px; padding:0px 10px 0px 10px; color:white;}
.info_content{border-left:1px solid #cfcfcf; border-right:1px solid #cfcfcf; border-bottom:5px solid #cfcfcf; height:351px; overflow:hidden;}
.info_content_show{text-align:left; padding:10px 5px;}
.info_content_show li{position:relative;list-style:none; padding:6px 5px 5px; border-bottom:1px solid #f6cfb8; display:block; clear:both; width:255px;}
.info_content_show p{padding-bottom:3px; line-height:120%; width:210px;}
.info_more{float:right; position:absolute; top:35px;right:10px;}
.info_fun{
	
	float:right;padding-right:42px;margin-top:-28px
	}
.info_fun button{ background:url(../images/info_button.jpg) no-repeat; width:184px;height:23px; color:#fe7c17; font-size:12px;  border:0px; padding:0px 0px 0px 10px!important;*padding:5px 0px 0px 10px!important;padding:5px 0px 0px 10px;}


/* col03 */
.nav02_content{background:url(../images/nav02_bg.jpg) no-repeat top; width:960px; min-height:36px;padding:0px 0px 0px 0px;}
.nav02_content ul{ width:auto; height:auto}
.nav02_content ul li{width:auto; height:auto; list-style:none;}
.nav02_content ul li a{text-decoration:none;}
.nav02_content ul li a:hover{ color:#FFFFFF}
.nav02_content .active,.nav02_content li.active{background:url(../images/nav02_on.jpg) no-repeat;}

.tap{height:28px; width:405px;float:left;margin-left:75px; display:inline;margin-top:8px;}
.tap a{ background:url(../images/nav02_out.jpg); width:55px; height:28px; display:block;color: #343434; font: bold 12px/24px "宋体" ; text-decoration:none; float:left; text-align:center; margin-right:2px;}
.tap a:hover{color:#FFFFFF}
.active{position:relative;float:left; z-index:2;margin-bottom:-1px;}
.active a {background:url(../images/nav02_on.jpg)!important;height:28px; color:white;}

.list1{ background:url(../images/search_bg.jpg) no-repeat; width:920px; height:42px; text-align:left;padding:10px 20px 0px;}

/* city list */
.city_list{ background:url(../images/city_list.jpg) no-repeat; width:910px; height:90px; padding:7px 25px; text-align:left;}
.city_list p{padding:5px 0px;}
.city_list a{margin-right:5px;}


/* col04 */
.col04{}
.trade_title{background:url(../images/trade_bg.jpg) no-repeat; width:960px; height:36px;}
.nav03_content{width:960px;padding:0px 0px 0px 0px; position:relative;}
.nav03_content ul{ width:auto; height:auto}
.nav03_content ul li{width:auto; height:auto; list-style:none;}
.nav03_content ul li a{text-decoration:none;}
.nav03_content ul li a:hover{ color:#830505}
.nav03_content .active02,.nav03_content li.active03{
background:url(../images/trade_navOn.jpg) no-repeat;}
.tap02{ height:28px; width:455px; float:left;margin-left:275px; display:inline;margin-top:4px;}
.tap02 a{ background:url(../images/trade_navOut.jpg); width:72px; height:32px; display:inline-block;color: #6e6e6e; font: bold 14px/24px "宋体" ; text-decoration:none; float:left; text-align:center; margin-right:8px;}
.tap02 a:hover{color:#830505}
.active02{position:relative;float:left; z-index:2;margin-bottom:-1px;}
.active02 a {
background:url(../images/trade_navOn.jpg)!important;height:32px; color:#830505;
}
.tap02_more{float:right; right:0; margin:8px 100px 0px 0px; position:absolute;}
.tap02_title{float:left; left:0; position:absolute;margin:7px 0px 0px 60px;}
.list02{position:relative;border-left:1px solid #dcd6ca; border-right:1px solid #dcd6ca; border-bottom:1px solid #dcd6ca; overflow:hidden;}
.trade_table{width:910px; margin:0 auto;}
.trade_table td{table-layout:fixed;word-wrap:break-word;word-break:break-all;}
.trade_table thead td{border-bottom:1px dashed #f8bb18; background:#fffdef;padding:9px 8px 6px;}
.trade_table tbody td{border-bottom:1px dashed #ccc;padding:5px 8px 3px;}
.trade_table_bg{background:#fdfade;}
.trade_table_more{position:absolute; float:right; right:0; bottom:0; margin:10px 20px;}
.trade_tableW01{width:250px;}
.trade_tableW02{width:65px;}
.trade_tableW03{width:75px;}
.trade_tableW04{width:100px;}
.trade_tableW05{width:120px;}
.trade_tableW06{width:110px;}
.trade_tableW07{width:85px;}

/* col05 */
.col05{}
.col05 img{border:1px solid #987037;}
.col05 p{padding:1px 0px;}
#scroll_div {OVERFLOW: hidden; WIDTH: 942px; HEIGHT: 133px}

/* col06 */
.col06{}

/* foot */
.foot{}
.foot a{margin:0px 6px;}
.bottom{ background:url(../images/bottom_bg.jpg) repeat-x; height:9px; font-size:1px;margin:8px 0px;}
.bottom_left{float:left; background:url(../images/bottom_left.jpg) no-repeat; width:12px; height:9px;}
.bottom_right{float:right; background:url(../images/bottom_right.jpg) no-repeat; width:13px; height:9px;}
.foot p{padding:5px 0px;}


/*左侧图文滚动*/
/*
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
table,td,tr,th{font-size:12px;}
a:link {color: #000; text-decoration:none;}
a:hover {color: #c00; text-decoration:underline;}
a:active {color: #000;}
*/
.focusPic{margin:0 auto; width:244px;
width:292px;height:282px;float:left;padding:5px 0 0 0px;border-top:#ef7b22 1px solid;border-left:#ef7b22 1px solid;border-bottom:#ef7b22 1px solid; position:relative;
}
.focusPic .pic{margin:0 auto; width:274px; height:200px; padding:2px 0 0;
text-align:center;padding:3px; border:1px solid #ccc;
}
.focusPic .adPic{margin:0 auto 5px; width:240px; height:29px; overflow:hidden;background:url();}
.focusPic .adPic .text{float:right; padding:9px 4px 0 0; width:140px;}
.focusPic .adPic .text a{color:#1f3a87;}
.focusPic .adPic .text a:hover{color:#bc2931;}
/*.focusPic h2{ float:left; width:232px;padding:4px 0 3px 12px; font-size:14px; text-align:left;}
*/
.focusPic p{float:left; width:280px;line-height:160%; margin:0; text-align:left;padding:0 0 10px 12px;}
.focusPic p img {margin:0px 0 2px;}
.focusPic .more{ margin:0 auto; width:240px; }
.focusPic .more .textNum{
float:right; position:absolute; bottom:0px; right:0; margin:1px 2px; font-size:10px;
}
.focusPic .more .textNum .text{float:left; font-weight:bold; padding:7px 6px 0 0; color:#666;}
.focusPic .more .textNum .num{float:left; width:113px; height:19px;}
.focusPic .more .textNum .bg1{ background:url(../newsImg/num1.gif);}
.focusPic .more .textNum .bg2{ background:url(../newsImg/num2.gif);}
.focusPic .more .textNum .bg3{ background:url(../newsImg/num3.gif);}
.focusPic .more .textNum .bg4{ background:url(../newsImg/num4.gif);}
.focusPic .more .textNum .num ul{ float:left; width:113px; }
.focusPic .more .textNum .num li{float:left; width:28px; font-weight:bold;display:block; color:#fff; list-style-type:none; padding:6px 0 0;}
.focusPic .more .textNum .num li a{color:#fff; padding:0 5px; }
.focusPic .more .textNum .num li a:visited{color:#fff;}
.focusPic .more .textNum .num li a:hover{color:#ff0;}

#part3 .con .focusPic .le02 p{padding:2px 5px 0px 5px;}


/*为什么选择*/
.whatF{
	border:1px solid #cccccc;
	padding:11px;
	margin-top:21px;
	text-align:left;
	background:#f8f8f8 none repeat scroll 0 0;
	}
	
 	
.C-centent ul li{ 
list-style-type:none;
/*
list-style-image:url(../images/accept.png);
*/
text-align:left;
margin-left:20px;
margin-right:18px;
margin-top:15px;

} 

.C-centent ul{

margin:0px;
}

.C-centent b{
line-height:15pt;
}


.C-centent span{

padding:10px 26px;
background:#FFFFD5 none repeat scroll 0 0;
border:1px solid #D8D8D8;

}

.C-centent span a{
TEXT-DECORATION: underline;
}



.help_contentR_line {

background:transparent url(../../images/help_line.jpg) no-repeat scroll 0 0;
font-size:1px;
height:3px;
margin-top:3px;
margin-bottom:10px;

margin-left:16%;
}
	
	
	
	
	
	/*注意事项*/
	
	.careCentent {
	line-height:12pt;
}
	
.careCentent b{
	color:#666666;
	font-size:16px;

}

.careCentent p{
color:#595959;
margin-left:6px;
line-height:15pt;

	}
	
.careCentent span{
margin-left:35%;
padding:10px 26px;
background:#FFFFD5 none repeat scroll 0 0;
border:1px solid #D8D8D8;

}

.careCentent span a{
TEXT-DECORATION: underline;
}

.pCentent{
	color:gray;
	margin-bottom:10px;
	margin-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	margin-left:15px;
	margin-left:13px;
	border-bottom:1px dashed #cccccc;
}

.undis{
display:none;

}
