@charset "utf-8";
/* CSS Document */

#Mes {
	float: right;
	width: 435px;
	height: 23px;
	text-align: right;
	padding: 6px 20px;
	background: url(../images/AdminPage_Mes.gif) no-repeat left top;
}

.Content {
	padding: 10px 30px;
	background: url(../images/AdminPage_ContentBg01.gif) repeat-y left top;
}

/**
 * 以下是左框
 */
.Left {
	float: left;
	width: 191px;
}

ul {
	list-style: none;
}
/*最外层的li*/
.MainLi {
	margin-bottom: 5px;
}
/*被点击的li*/
.NowLi {
	background: url(../images/AdminPage_liNow01.gif) repeat-y left top;
}

.menuHeadTd {
	background: url(../images/AdminPage_li01.gif) no-repeat left top;
	height: 25px;
}
.menuHeadTd2 {
	background: url(../images/AdminPage_liNow01.gif) repeat-y left top;
	height: 25px;
}


.menuHeadTr td a{
	display: block;
	width: 100%;
	height: 20px !important;
	height: 19px;
	padding: 6px 0 0 35px !important;
	padding: 7px 0 0 35px;
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

.menuHeadTr td a:hover{
	text-decoration: none;
	color: #ccc;
}

.menuItemTr{
	display: none;	
}

.menuItemTr td table{
	width: 100%;	
}

.menuItemTr td table tr{
	height: 22px;
}

.menuItemTr td table tr td a{
	color: #666;
}
.menuItemTr td table tr td a:hover{
	text-decoration: none;
	color: #ccc;
}

.menuItemTr td table tr td a span{
	width: 100%;padding-left: 30px;	
}

ul li a {
	display: block;
	width: 156px;
	height: 20px !important;
	height: 19px;
	padding: 6px 0 0 35px !important;
	padding: 7px 0 0 35px;
	color: #666;
	font-size: 13px;
	font-weight: bold;
	background: url(../images/AdminPage_li01.gif) no-repeat left top;
}

ul li a:hover {
	text-decoration: none;
	color: #ccc;
}
li ul {
	padding: 8px 0 0 0;
	background: url(../images/AdminPage_SubUl_01.gif) no-repeat left top;
}
li ul li.LiEnd {
	height: 8px;
	background: url(../images/AdminPage_SubUl_03.gif) no-repeat left top;
}
li ul li a {
	background: url(../images/AdminPage_SubUl_02.gif) repeat-y left top;
}

/**
 * 以下是右边的iframe
 */
 
#RightFrame {
	float: right;
	width: 700px;
	height:900px;
	
	border: none;
	margin-left: 20px;
}

.Title {
	color: #adaf2f;
	font-size: 7px;
	font-weight: bold;
	padding: 1px 20px;
	border-bottom: 1px solid #adaf2f;
}
/**********************/

.memberC_allRight02{width:638px;float:right;border:1px solid #fa9154; text-align:left; padding:20px 45px;color:#F00; font-size:14px;overflow:auto; zoom:1;}

/* left */
.memberC_leftTitle{display:block; cursor:pointer;background:url(../images/memberC_leftTitle01.jpg) no-repeat; width:175px; height:25px; font-size:14px;color:white; text-align:left; line-height:25px;padding:0px 10px;}
.memberC_leftTitle02{display:block; cursor:pointer;background:url(../images/memberC_leftTitle02.jpg) no-repeat; width:175px; height:24px; font-size:14px;color:white; text-align:left; line-height:25px;padding:0px 10px; overflow:hidden;}
.memberC_leftTitleMore{float:right;margin-top:8px;}
.memberC_leftShow{border-left:1px solid #fa9154; border-right:1px solid #fa9154; background:#fffee7; text-align:left;padding:0px 15px 0px 20px;display:block;}
.memberC_leftShow_line{background:url(../images/memberC_leftLine.jpg) no-repeat; width:158px; height:2px; font-size:1px;margin-top:10px;}
.memberC_leftShow dt{margin:11px 0px 4px;}
.memberC_leftShow dd{background:url(../images/memberC_dot01.jpg) no-repeat 0px 10px; text-indent:13px; padding:8px 0px 0px;}
.memberC_leftBottom{background:url(../images/memberC_leftBottom.jpg) no-repeat; width:195px; height:4px; font-size:1px;}
.memberC_leftShow02{border-left:1px solid #fa9154; border-right:1px solid #fa9154; background:#fffee7;padding:0px 20px 0px;*padding:0px 20px 0px; text-align:left; color:#b53700;}
.memberC_leftShow02 dd{background:url(../images/memberC_dot01.jpg) no-repeat 0px 10px; text-indent:13px!important;text-indent:16px; padding:7px 0px 0px;}

/* right */
.memberC_rightTitle{font-size:14px;color:#f37025; background:url(../images/memberC_rightTitle01.jpg) no-repeat; width:173px; height:23px; line-height:23px; padding:0px 10px; text-align:left;}
.memberC_rightTitle02{font-size:14px;color:#f37025; background:url(../images/memberC_rightTitle02.jpg) no-repeat; width:173px; height:27px; line-height:27px; padding:0px 10px; text-align:left;}
.memberC_rightTitle03{font-size:14px;color:#1f54b5; background:url(../images/memberC_rightTitle03.jpg) no-repeat; width:173px; height:23px; line-height:23px; padding:0px 10px; text-align:left;}
.memberC_rightShow{padding:10px 9px; text-align:left; line-height:150%; overflow:auto; zoom:1;}
.memberC_rightShow dd{float:left; width:73px;padding:0px 6px;}
.memberC_rightBottom{background:url(../images/memberC_rightBottom.jpg) no-repeat; width:193px; height:4px; font-size:1px;}



.memberC_line{border-bottom:1px solid #ccc; height:1px;font-size:1px;padding-top:8px; margin-bottom:8px;}
.memberC_allRight02 input{line-height:14px;}
.memberC_allRight02 label{/*float:left;*/width:110px; text-align:right; work-break:keep-all; padding-top:3px;}/*此处注释取消了浮动*/
.memberC_allRight02 td{padding:5px 0px;}
.memberC_input01{width:140px;border:1px solid #ccc; }
.memberC_input01_readonly{width:140px;border:1px solid #ccc;background-color: #D4D4D4; color: #585858; }
.memberC_input02{width:80px;border:1px solid #ccc; }
.memberC_input02_readonly{width:80px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input03{width:30px;border:1px solid #ccc; }
.memberC_input03_readonly{width:30px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input04{width:320px;border:1px solid #ccc; }
.memberC_input04_readonly{width:320px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input05{width:60px;border:1px solid #ccc; }
.memberC_input05_readonly{width:60px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input06{width:10px;border:1px solid #ccc; }
.memberC_input06_readonly{width:10px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input07{width:280px;border:1px solid #ccc; }
.memberC_input07_readonly{width:280px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_input08{width:100px;border:1px solid #ccc; }
.memberC_input082{width:100px;border:1px solid #ccc; }
.memberC_input08_readonly{width:100px;border:1px solid #ccc; background-color: #D4D4D4; color: #585858;}
.memberC_textarea{width:200px; height:80px;border:1px solid #ccc;}
.memberC_textarea02{width:320px; height:80px;border:1px solid #ccc;}
.memberC_button{text-align:center;}
.memberC_button a:link,.memberC_button a:visited{display:inline-block; border:1px solid #ccc;padding:4px 13px 1px; color:#666; background:white; text-decoration:none;}
.memberC_button a:hover{display:inline-block; border:1px solid #ccc;padding:4px 13px 1px; color:#f60; background:white; text-decoration:none;}
.memberC_button1{width: 70px; height: 25px; padding-top:5px;	color: #666666;	border: 1px solid #cccccc; background-color: #FFFFFF;}
.memberC_table{font-size:12px;color:#666;}
.memberC_table td{padding:0px 5px;}
.memberC_table thead{text-align:center;}
.memberC_table thead td{height:30px; border-top:1px solid #fa9154; background:#fffee7;}
.memberC_table tbody td{height:30px; border-bottom:1px dashed #ccc; text-align:center;}


/*布局*/

#color_other{ color:#999; }
#color_td{ color:#999; }
.est_title{ color:#999; }

.est_label{ color:#999; }
.label_td{width: 15%;}
.content_td{width: 35%;}


/* center */
.memberC_midInfo{text-align:left; background:white; padding:5px 10px;}
.memberC_midInfo p{padding:5px 0px;}

.memberC_midTitle{font-size:14px;color:#666; background:url(../images/memberC_centerTitle.jpg) no-repeat; width:518px; height:23px; line-height:23px; padding:0px 10px; text-align:left;}
.memberC_midShow03{padding:10px 15px!important; *padding:10px 15px!important;padding:10px 15px;text-align:left; overflow:auto; zoom:1;}
.memberC_midShow{padding:10px 15px; text-align:left; overflow:auto; zoom:1;}
.memberC_midShow p{padding:5px 0px;}
.memberC_midShow dd{float:left; width:252px;background:url(../images/memberC_dot02.jpg) no-repeat 0px 3px; text-indent:13px; margin:3px 0px;}
.memberC_midFY{float:right;padding-top:0px!important;padding-top:3px;}
.memberC_midBottom{background:url(../images/memberC_centerBottom.jpg) no-repeat; width:538px; height:3px; font-size:1px;}
.memberC_midShow02{padding:10px 15px 0px; text-align:left; overflow:auto; zoom:1;}
.memberC_midShow02L{width:240px; float:left;border-right:1px dashed #ccc;}
.memberC_midShow02R{width:240px; float:right;}
.memberC_midShow02 p{padding:3px 0px;}
.memberC_midShow02 dd{padding-left:10px;background:url(../images/memberC_dot02.jpg) no-repeat 10px 3px; text-indent:13px; margin:5px 0px;}

/* memberC_midShowTd */
.memberC_midShowTd{overflow:hidden;text-align:center;}
.memberC_midShowTd ul{margin-left:12px!important;margin-left:0px;}
.memberC_midShowTd li{float:left; list-style:none; margin:0px 10px;}
.memberC_midShowTd li p{padding:3px 0px;}
.memberC_midShowTd li img{border:1px solid #987037;}

.memberC_bottom{background:url(../images/memberC_bottom.jpg) no-repeat bottom; width:748px; height:3px; font-size:1px; overflow:hidden; }


/* memberInfo */
.memberInfo{width:698px;float:right;border:1px solid #fa9154; text-align:left; padding:20px 25px;color:#999; font-size:14px;overflow:auto; zoom:1; height:678px;}
.memberInfo_nav{height:28px;border-bottom:1px solid #fa9154;position:relative;margin-bottom:20px;}
.memberInfo_nav ul{position:absolute;margin-left:20px;display:inline;}
.memberInfo_nav li{border-left:1px solid #fa9154;border-right:1px solid #fa9154; border-top:1px solid #fa9154;float:left; list-style:none;height:28px; line-height:28px; font-size:14px;margin:0px 10px;}
.memberInfo_navOn,.memberInfo_navOn a:link,.memberInfo_navOn a:visited{background:url(../images/memberInfo_navBg01.jpg) repeat-x;height:28px;color:#434343; text-decoration:none;display:inline-block;}
.memberInfo_navOn a:hover{background:url(../images/memberInfo_navBg01.jpg) repeat-x;height:28px;color:#434343; text-decoration:none;display:inline-block;}
.memberInfo_navOut,.memberInfo_navOut a:link,.memberInfo_navOut a:visited{background:url(../images/memberInfo_navBg02.jpg) repeat-x;height:28px;color:white; text-decoration:none;display:inline-block;}
.memberInfo_navOut a:hover{background:url(../images/memberInfo_navBg02.jpg) repeat-x;height:28px;color:white; text-decoration:underline; display:inline-block;}
.memberInfo .modify{padding:0px 40px;}
.memberInfo .password{padding:0px 60px;}
.memberInfo .sc{padding:0px 30px;}

.memberInfo input{line-height:14px;}
.memberInfo label{float:left;width:110px; text-align:right; work-break:keep-all; padding-top:3px;}
.memberInfo td{padding:5px 0px;}

.memberInfo_password{margin-left:170px;}
.memberInfo_passwordB button{background:#d4d0c8; border-top:1px solid white; border-left:1px solid white; border-right:1px solid black; border-bottom:1px solid black;padding:5px 0px 3px; width:75px;display:inline;margin:0px; vertical-align:middle;}

/* shoucang */
.memberInfo_nav02{height:28px;border-bottom:1px solid #fa9154;position:relative;margin-bottom:8px;}
.memberInfo_nav02 ul{position:absolute;margin-left:20px;display:inline;}
.memberInfo_nav02 li{border-left:1px solid #fa9154;border-right:1px solid #fa9154; border-top:1px solid #fa9154;float:left; list-style:none;height:28px; line-height:28px; font-size:14px;margin:0px 5px;}

.memberShowcang01,.memberShowcang02,.memberShowcang03,.memberShowcang04,.memberShowcang05{color:#434343;font-size:12px;}
.memberShowcang_search input{border-top:1px solid black; border-left:1px solid black; border-right:1px solid #d4d0c8;border-bottom:1px solid #d4d0c8; vertical-align:middle;}
.memberShowcang_search select{vertical-align:middle;}
.memberShowcang_search button{background:#d4d0c8; border-top:1px solid white; border-left:1px solid white; border-right:1px solid black; border-bottom:1px solid black;padding:2px 0px 0px; width:45px;display:inline;margin:0px; vertical-align:middle;}
.memberShowcang_search a:link,.memberShowcang_search a:visited{color:#434343; text-decoration:none;}
.memberShowcang_search a:hover{color:#f60; text-decoration:underline;}
.memberShowcang_search{margin-bottom:8px;}
.memberTableW01{width:32px;}
.memberTableW02{width:310px;}
.memberTableW03{width:95px;}
.memberTableW04{width:75px;}
.memberTableW05{width:70px;}
.memberTableW06{width:125px;}
.memberShowcangTable thead td{border-top:1px solid #d6d6d4; border-bottom:1px solid #d6d6d4;background:url(../images/memberShoucang_tabelBg.jpg) repeat-x; height:33px;padding:0px;}
.memberShowcangTable tbody td{padding:6px 0px; border-bottom:1px dashed #ccc;}
.memberShowcangTable dt{float:left;margin-right:10px;margin-top:10px;}
.memberShowcangTable dt img{padding:2px; border:1px solid #ccc;}
.memberShowcangTable dd{padding:3px 0px 2px;}
.floatR_paddingT{padding-top:5px;}


.memberShoucang_fenye{color:#434343; text-align:center;padding-top:25px;}
.memberShoucang_fenye a:link,.memberShoucang_fenye a:visited{color:#aaa; text-decoration:none;}
.memberShoucang_fenye a:hover{color:#f60; text-decoration:none;}
.memberShoucang_button button{background:#d4d0c8; border-top:1px solid white; border-left:1px solid white; border-right:1px solid black; border-bottom:1px solid black;padding:2px 0px 0px; width:45px;display:inline;margin:0px;}
.memberShoucang_button{position:relative;float:left; top:20px;}

/* message */
.memberInfo_nav03{height:28px;border-bottom:1px solid #fa9154;position:relative;margin-bottom:0px;}
.memberInfo_nav03 ul{position:absolute;margin-left:20px;display:inline;}
.memberInfo_nav03 li{border-left:1px solid #fa9154;border-right:1px solid #fa9154; border-top:1px solid #fa9154;float:left; list-style:none;height:28px; line-height:28px; font-size:14px;margin:0px 5px;}
.memberMessage_show{border-bottom:1px dashed #ccc;padding:10px 0px; overflow:auto; zoom:1; color:#707070; font-size:12px;}
.memberMessage_showL{float:left; width:32px; background:url(../images/member_ask.jpg) no-repeat 0px 3px; height:25px;}
.memberMessage_showR{float:right;width:646px; margin-right:20px; display:inline; }
.memberMessage_showR td{table-layout:fixed;padding:0px;}
.memberMessage_showR p{margin:8px 0px;}
.memberMessage_bg{background:#f8f8f8;padding:5px 20px; line-height:150%;}
.memberTableW05a{width:80px;}

/*upload*/
.member_uploadContent_showInput{width:290px; line-height:20px;}
.member_uploadContent_showInput2{width:350px; line-height:20px;}
.member_uploadC_left{width:468px; /*float:left;*/ text-align:left; font-size:14px;}
.member_uploadC_right{width:468px; /*float:right;*/ text-align:left; font-size:14px;}
.member_uploadC_rightTitle{background:url(../images/member_loginTitle03.jpg) no-repeat; width:329px; height:21px; color:white; text-align:left; padding:6px 10px 0px 40px; font-size:14px; margin-left:101px; }
.member_uploadC_leftContent{ /*float:right;*/ padding:10px 0px 0px 0px; text-align:left; color:#F00; }
.member_uploadC_rightContent{ /*float:left;*/ padding:15px 25px 10px 0px; text-align:left;}
.member_uploadC_rightContent_btnPaste{margin-left:0px;}
/*
.member_uploadC_rightContent_btnOK{margin-top:0px;}
.member_uploadC_rightContent_btnCancel{margin-left:155px;}
*/
.member_uploadC_position_btn{ margin-top:-105px; margin-left:115px; }
	/***********************/

.AdminTableStyle {
	margin: 7px 0 0 0;
	border-collapse: collapse;
}
.AdminTableStyle a {
	font-size: 13px;
}

.AdminTableStyle td {
	height: 25px;
	color: #adaf2f;
	font-size: 13px;
	text-align: center;
}
.AdminTableStyle td.TableTitle {
	height: 2em;
	text-align: left;
	font-weight: bold;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #adaf2f;
}
.AdminTableStyle td.TableLeft {
	text-align: right;
	padding-right: 1em;
}
.AdminTableStyle td.TableRight {
	text-align: left;
	padding-left: 1em;
}
.AdminTableStyle .TH td {
	font-weight: bold;
	padding-bottom:3px;
}

.AdminTableStyle .userlist td {
	background-color:#f5f5f5;
	color:#344306 ;
	
}
.AdminTableStyle .userlist2 td {
	background-color:#e5e4e4;
	color:#344306 ;
	
}
.AdminTableStyle .userlist3 td {
	background-color:#cccbcb;
	color:#344306 ;
	
}

.TableTDEven {
	background-color: #dedf9b;
}

.TableTDSelect {
	background-color: #d0d186;
}




#mytable { 
font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #4f6b72; 
width: 700px; 
border-left: 1px solid #C1DAD7;
padding: 0; 
margin: 0; 
} 



#mytable-th { 
font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
border-left: 1px solid #C1DAD7;
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
border-top: 1px solid #C1DAD7; 
letter-spacing: 2px; 
text-transform: uppercase; 
text-align: center; 
padding: 6px 6px 6px 12px; 
/*background: #CAE8EA  no-repeat; */
background: #e5e4e4  no-repeat;
} 

th.nobg { 
border-top: 0; 
border-left: 0; 
border-right: 1px solid #C1DAD7; 
background: none; 
} 

#mytable td { 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
background: #fff; 
font-size:11px; 
padding: 6px 6px 6px 12px; 
color: #4f6b72; 
} 


#mytable td.alt { 
background: #F5FAFA; 
color: #797268; 
} 

#mytable th.spec { 
border-left: 1px solid #C1DAD7; 
border-top: 0; 
background: #fff no-repeat; 
font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
} 

#mytable th.specalt { 
border-left: 1px solid #C1DAD7; 
border-top: 0; 
background: #f5fafa no-repeat; 
font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #797268; 
} 

/* message's table*/
#msg {
	border-collapse: collapse;
	color: #555;
	text-align: left;
}
#msg td, #msg th {
	border: 1px dotted #bbb;
	padding:2px 4px;
	height:23px;
	line-height:23px;
	font-weight:normal;
	}
	 
#msg table ,#msg thead th, #msg tfoot th {border: 1px solid #666;}
#msg tfoot td{
	border:0px;
	height="45"
	}
#msg thead th {
	font-weight: bold;
	color:#333;
	}
#msg tbody th {
	white-space: nowrap;
	background: #f4f4f4;
	}
#msg tbody th, #msg tbody td {
	vertical-align: top;
	}
	
	/* AddNews*/
	
#add_Bg {
	border:1px solid;
		width="100%";
		background:#fcfcfc;
	}	
	
	
	/*saleshop,business's table*/
	
	#busi{ 
	border-collapse:collapse;
	text-align:center; 
	color:#5C6B87;
	letter-spacing:1px;
	width:100%;
 	}
#busi,#busi th,#busi td{
	border:1px solid #B6D5F3;
	line-height:25px;
	height:25px;
	}
#busi thead th{
	background:#999999;  
	color: white;
	}
	
#busi tbody th{
	background:#e2e2e2;
	font-weight:normal;
	text-align:left;
	}
#busi tbody th span{
	color:red;
	
	}
	
#busi tfoot td{
	text-align:right;
	color: #2E7DBE;
	padding-right:4px;
	}
	
	
	.jobman th{
	background:red;  
	color: white;
	}


/*jobman */

	#jobman{ 
	border-collapse:collapse;
	text-align:center; 
	color:#5C6B87;
	letter-spacing:1px;
	width:100%;
 	}
#jobman,#jobman th,#jobman td{
	border:1px solid #B6D5F3;
	line-height:25px;
	height:25px;
	}
	
	#jobman thead th{
	background:orange;  
	color: white;
	}
	
.contentTitle{
	font-size: 16px;
	font-weight:bold;
	color: #DD8822;	
}
.dropdown{
	width: 140px;	
}

/*文本框*/
input {
	padding: 1px 2px;
	border: 1px solid #CCCCCC;
}
/*灰色字*/
.GrayFont {
	color: #CCCCCC;
}
.BlackFont {
	color: #000000;
}

.input_text_readonly{
	width:150px;
	height:20;
	border:1px solid #c3d9eb;
	background-color: #D4D4D4;
	color: #585858;
}
.errorMsg{
	color: red;
	text-align: left;
	font-size: 12px;
	height: 20px;
}

.contentColumnNameTd{
	width:10%;
}

.listContentTd{
	word-break: nowrap;
	vertical-align: middle;
}
