<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>chance.common.SystemInitListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>fsf.web.listener.FSFParameterInitListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>userLoginFilter</filter-name>
		<filter-class>fsf.web.filter.UserLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userLoginFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userLoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userLoginFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
		
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>
			chance.ext.ConnectorServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	
	<!-- Forum -->
	<filter>
		<filter-name>clickStream</filter-name>
		<filter-class>net.jforum.util.legacy.clickstream.ClickstreamFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>clickStream</filter-name>
		<url-pattern>*.page</url-pattern>
	</filter-mapping>
    
    <listener>
    	<listener-class>net.jforum.ForumSessionListener</listener-class>
    </listener>
	
    <servlet>
		<servlet-name>forum</servlet-name>
		<servlet-class>net.jforum.JForum</servlet-class>
		
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
    </servlet>

	<servlet-mapping>
    	<servlet-name>forum</servlet-name>
    	<url-pattern>*.page</url-pattern>
    </servlet-mapping>
	
</web-app>
