<#setting number_format = "#"/>
<#setting datetime_format = dateTimeFormat/>
<#assign logged = logged?default(false)/>
<#assign language = language?default("en_US")/>
<#assign hasCodeBlock = hasCodeBlock?default(false)/>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/style.css?${startupTime} );</style>
<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/${language}.css?${startupTime} );</style>

<#if hasCodeBlock>
	<style type="text/css">@import url( ${contextPath}/templates/${templateName}/styles/SyntaxHighlighter.css?${startupTime} );</style>
</#if>

<title>${pageTitle?default("JForum")?html}</title>

</head>
<body style="background-color:#FFFFFF;text-align:center;margin:0 auto;color:#666;" class="${language}">

<!--
Original theme from phpBB (http://www.phpbb.com) subSilver
Created by subBlue design
http://www.subBlue.com

Modifications by JForum Team
-->

<table width="100%" border="0">
	<tr>
		<td>
			<table cellspacing="0" cellpadding="0" width="100%" border="0">
				<tr>
					<td colspan="2" align="center">
						<div class="box">

	<!-- new menu -->
    	
	<!-- head -->
     <div class="head">
    	<div class="logo"><a href="../main/index.jsp"><img src="${contextPath}/images/logo.jpg" width="154" height="51" alt="fang3fang" title="fang3fang" /></a></div>
      <div class="web_des">
        	<p><span class="cOrange headerFont">${I18n.getMessage("ForumHeader.header")}</span></p>
            <p><a href="#" class="headerFont">${I18n.getMessage("ForumHeader.yzsq")}</a></p>
      </div>
        <div class="menu">
        	<ul>
            	<li><a href="../memberCenter/index.jsp"><img src="${contextPath}/images/head_buy.jpg" width="55" height="50" align="absmiddle" /><b class="headerFont">${I18n.getMessage("ForumHeader.buy")}</b></a></li>
                <li><a href="../memberCenter/index.jsp"><img src="${contextPath}/images/head_sell.jpg" width="55" height="50" align="absmiddle" /><b class="headerFont">${I18n.getMessage("ForumHeader.sell")}</b></a></li>
                <li><a href="../help/findHouse.jsp"><img src="${contextPath}/images/head_help.jpg" width="55" height="50" align="absmiddle" /><b class="headerFont">${I18n.getMessage("ForumHeader.trayHelp")}</b></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
     
     <!-- menu -->
     <div class="nav">
       <div class="navL">
					<div class="headMenu">
						<div class="headMenuLine"></div>
						<ul class="menuList">
							<li>
								<a href="../main/index.jsp"><span>${I18n.getMessage("index")}</span>
								</a>
							</li>
							<li>
								<a href="../freetrade/index.jsp"><span>${I18n.getMessage("ForumHeader.tray")}</span>
								</a>
							</li>
							<li>
								<a href="../entrustTrade/index.jsp"><span>${I18n.getMessage("ForumHeader.proxy")}</span>
								</a>
							</li>
							<li>
								<a href="../newHouse/index.jsp"><span>${I18n.getMessage("ForumHeader.newEst")}</span>
								</a>
							</li>
							<li>
								<a href="../Info/index.jsp"><span>${I18n.getMessage("ForumHeader.estNew")}</span>
								</a>
							</li>
							<li class="menuHere">
								<span>${I18n.getMessage("ForumHeader.forum")}</span>
							</li>
							<li>
								<a href="../CoBank/index.jsp"><span>${I18n.getMessage("ForumHeader.bank")}</span>
								</a>
							</li>
							<li><a href="${contextPath}/commerce/commerceIndex.action"><span>${I18n.getMessage("ForumHeader.commerce")}</span></a></li> 
                  			<li><a href="../invitedexperts/index.jsp"><span>${I18n.getMessage("ForumHeader.gw")}</span></a></li>
						</ul>
					</div>
				</div> 
       <div class="navR">
					
					<a href="../member/reg.jsp" class="cYellow"> [${I18n.getMessage("ForumHeader.register")}] </a>
					<a href="../member/login.jsp" class="cYellow">[${I18n.getMessage("ForumHeader.login")}]</a>
					
					<a href="../memberCenter/index.jsp" class="cYellow"> [${I18n.getMessage("ForumHeader.menberCenter")}] </a>
					<a href="../CommonPage/ClearSession.jsp" class="cYellow">[${I18n.getMessage("ForumHeader.zx")}]</a>
					
		</div>
        <div class="clear"></div>
    	<div class="nav_bottom">
        	<div class="nav_bottomL"></div>
            <div class="nav_bottomR"></div>
        </div>
    </div>
    
    <!-- wangpu -->
    <div class="wangpu_top">
    	<div class="wangpu_topL"><img src="${contextPath}/commerce/images/wangpu_img01.jpg" width="709" height="101" alt="" title="" /></div>
      <div class="wangpu_topR">
       	  <p class="cOrange bold headerFont">${I18n.getMessage("ForumHeader.link")}</p>
          <p class="headerFont"><img src="images/info_dot01.jpg" width="5" height="5" align="absmiddle"  />${I18n.getMessage("ForumHeader.kf")}MSN: sever@fang3fang.com</p>
          <p class="headerFont"><img src="images/info_dot01.jpg" width="5" height="5" align="absmiddle"  />${I18n.getMessage("ForumHeader.kf")}QQ: 3921958912</p>
          <p class="headerFont"><img src="images/info_dot01.jpg" width="5" height="5" align="absmiddle"  /> ${I18n.getMessage("ForumHeader.kftel")}:86-10-82790251</p>
        </div>
    </div>
					</td>
				</tr>
				<tr>
					<td width="10%">&nbsp;</td>
					<td width="90%" valign="middle" align="left">
						<table cellspacing="0" cellpadding="2" border="0">
							<tr>
								<td valign="top" nowrap="nowrap" align="center">&nbsp;
									
										<!--search in forum. this period not use this function 
										<img src="${contextPath}/templates/${templateName}/images/icon_mini_search.gif" alt="[Search]"/>
										<span class="mainmenu"><a id="search" class="mainmenu" href="${JForumContext.encodeURL("/search/filters")}"><b>${I18n.getMessage("ForumBase.search")}</b></a> &nbsp;
									 -->
									
									<img src="${contextPath}/templates/${templateName}/images/icon_mini_recentTopics.gif" alt="[Recent Topics]" />
									<a id="latest" class="mainmenu" href="${JForumContext.encodeURL("/recentTopics/list")}">${I18n.getMessage("ForumBase.recentTopics")}</a> &nbsp;
									<img src="${contextPath}/templates/${templateName}/images/icon_mini_recentTopics.gif" alt="[Hottest Topics]" />
									<a id="hottest" class="mainmenu" href="${JForumContext.encodeURL("/hottestTopics/list")}">${I18n.getMessage("ForumBase.hottestTopics")}</a> &nbsp;
									<!--this will show only the user has moderationLog Competence
									<img src="${contextPath}/templates/${templateName}/images/icon_mini_members.gif" alt="[Members]" />&nbsp;
									<a id="latest2" class="mainmenu" href="${JForumContext.encodeURL("/user/list")}">${I18n.getMessage("ForumBase.usersList")}</a> &nbsp;
									-->
									<span class="mainmenu"> <img src="${contextPath}/templates/${templateName}/images/icon_mini_groups.gif" alt="[Groups]" />&nbsp;<a id="backtosite" class="mainmenu" href="${homepageLink}">${I18n.getMessage("ForumBase.backToSite")}</a>&nbsp;
									

									<#if canAccessModerationLog?default(false)>
										<img src="${contextPath}/templates/${templateName}/images/icon_mini_members.gif" alt="[Moderation Log]" />
										<a id="moderationlog" class="mainmenu" href="${JForumContext.encodeURL("/moderation/showActivityLog")}">${I18n.getMessage("ModerationLog.moderationLog")}</a> &nbsp;
									</#if>

									<#if logged>
										<a id="myprofile" class="mainmenu" href="${JForumContext.encodeURL("/user/edit/${session.userId}")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_profile.gif" border="0" alt="[Profile]" /> ${I18n.getMessage("ForumBase.profile")}</a>&nbsp; 
										<#if bookmarksEnabled>
											<a class="mainmenu" href="${JForumContext.encodeURL("/bookmarks/list/${session.userId}")}"><img src="${contextPath}/templates/${templateName}/images/icon_minipost.gif" alt="[Post]" />${I18n.getMessage("Bookmarks.myBag")}</a>&nbsp;
										</#if>
										<a id="privatemessages" class="mainmenu" href="${JForumContext.encodeURL("/pm/inbox")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_message.gif" border="0" alt="[Message]" />
											<#if (session.privateMessages > 0)>
												${I18n.getMessage("ForumBase.newPm")}: (${session.privateMessages})
											<#else>
												${I18n.getMessage("ForumBase.privateMessages")}
											</#if>
										</a>&nbsp;
										</span>

										<#if !sso>
											<a id="logout" class="mainmenu" href="${JForumContext.encodeURL("/user/logout")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_login.gif" border="0" alt="[Login]" /> ${I18n.getMessage("ForumBase.logout")} [${session.username}] </a></span>
										</#if>
									</#if>
									
									<!--this will be delete when project complited
									<#if !logged && !sso>
										<a id="register" class="mainmenu" href="${JForumContext.encodeURL("/user/insert")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_register.gif" border="0" alt="[Register]" /> ${I18n.getMessage("ForumBase.register")}</a>&nbsp;/&nbsp;</span>
										<a id="login" class="mainmenu" href="${JForumContext.encodeURL("/user/login")}"><img src="${contextPath}/templates/${templateName}/images/icon_mini_login.gif" border="0" alt="[Login]" /> ${I18n.getMessage("ForumBase.login")}</a>&nbsp; </span>
									</#if>
									-->

									
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>

